@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;
}

.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: beige !important;
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    border-bottom: 1px solid beige;
}
section{
    width: 100%;
    min-width: 100vh;
}
#home{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)), url("./leaf/natleaf.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
}
#home p{
    position: center;
    top:50%;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home p:nth-child(1){
    animation-delay: 0s;
}
#home p:nth-child(2){
    animation-delay: 3s;
}
@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#home span{
    color: aqua;
}
@media screen and (max-width:576px){
    #home p{
        font-size:80px;
    }
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff75a0;
   
}
.circle{
    width: 400px;
    height: 400px;
    align-items: center;
    background-color: #e93b81;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 12px rgba(0,0,0,.7);
    margin-bottom: 3%;
    margin-top: 8%;
    transition: 1s;
}
.circle img{
    position :absolute;
    height: 350px;
    top: -25%;
    left:6%;
    border-radius: 50%;
   filter:drop-shadow(0px 30px 15px rgba(0,0,0,.4));
   transition: 1s;
}
.circle:hover{
    width: 700px;
    height: 400px;
    border-radius: 10px;
    transition: 1s;

}
.circle:hover img{
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 1s;
}
.circle .content{
    opacity: 0;
}
.circle:hover .content{
    position: absolute;
    top: 8.5%;
    right: 0;
    color: wheat;
    width: 50%;
    opacity: 1;
    transition: 1s;
}
@media screen and (max-width:576px) {
    .circle{
        width: 400px;
        height: 400px;
        align-items: center;
        background-color: blue;
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0,0,0,.7);
        margin-bottom: 3%;
        margin-top: 8%;
        transition: 1s;
    }  
    .circle:hover img{
        position: absolute;
        top: 0%;
        left: 8%;
        transition: 1s;
    }
    .circle:hover{
        width: 400px;
        height: 600px;
        border-radius: 10px;
        transition: 1s;
    
    }
    
.circle .content{
    opacity: 0;
}
.circle:hover .content{
    position: absolute;
    top: 60%;
    right: 0;
    color: wheat;
    padding: 15px;
    width: 100%;
    opacity: 1;
    transition: 1s;
}
}
#skills{
    padding: 5%;
    background: #e5e5e5;
}
#skills .container{
    margin-top:6%;
    margin-bottom: 6%;
}
label{
    font-size:20px;
}
.progress{
    height:30px !important;
    box-shadow: 2px 4px 5px gray,-2px -2px 5px white;
}
.progress:hover{
    box-shadow: 2px 4px 5px whitesmoke, -2px -2px -5px gray;
}

#contact{
    padding-top: 7%;
    background-color: antiquewhite;
}
#contact iframe{
    box-shadow: 15px 20px 10px rgba(0,0,0,.4);
}